{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static tailwind_tags %}
{% load socialaccount %}
{% block title %}Questions{% endblock title %}
{% block css %}
<style>
  #preloader{
  background: #18191b no-repeat center center;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
}
.asteriskField{
display: none;
}
.requiredField{
font-size: 1.2rem;
font-weight: 600;
}
input{
    width: 69vw;
}
.textinput{
    background-color: #18191b;
    border-radius: 10px;
    border: none;
    margin-block: 2vh;
    height: 8vh;
}
.numberinput{
    background-color: linear-gradient(to right, #18191b, #18191b);
    border-radius: 10px;
    border: none;
    margin-block: 2vh;
    height: 8vh;
}
.select{
    background-color: #18191b;
    border-radius: 10px;
    border: none;
    margin-block: 2vh;
    margin-inline: 0px auto;
}
textarea{
    background-color: #18191b;
    border-radius: 10px;
    border: none;
    margin-block: 2vh;
    height: 8vh;
    width: 70vw;
    height: fit-content;
}
.form-gradient {
        /* background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center center no-repeat; */
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(5px);
        padding: 50px 35px;
    }

    input {
        width: 70vw;
    }

    .choice {
        width: 70vw;
        margin-block: 10px;
        padding: 10px;
    }

    .choice:hover {
        background-color: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(10px);
    }

    .choice:focus,.input:focus {
        background-color: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(10px);
    }

    .form-content {
        padding-top: 16vh;
    }
</style>
{% endblock css %}
{% block content %}
<div id="preloader">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
      <dotlottie-player src="https://lottie.host/9f6fd70b-d135-43bb-b4e3-5b5d74dadbdf/K1RCDqyq6C.json" background="transparent" speed="1" style="width: 250px; height: 250px;" loop autoplay></dotlottie-player>
  </div>
<main class="overflow-hidden flex flex-1 flex-col bg-[#18191b] text-white justify-center ">
    <div class="container bg-[#18191b] p-6 mt-8 flex flex-col justify-center items-center mx-auto ">
        <h2 class="text-5xl font-bold text-center mb-20 mt-20 bg-gradient-to-r from-green-700 via-teal-400 to-blue-500 text-transparent bg-clip-text hover:bg-gradient-to-l ">
            Quest for the Best
        </h2>
        <div class="absolute rotate-90 md:rotate-0 ">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script><lottie-player
                src="https://lottie.host/a028655e-5220-4664-9ee4-f0a526b4bde7/Qmx95F4X03.json" speed="1"
                loop autoplay direction="1" mode="normal"></lottie-player>
        </div>
        <!-- <div class="w-full relative block p-10 overflow-hidden bg-white/10 border-slate-100 rounded-lg mb-10 ">
            <span class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 to-blue-500 hover:bg-gradient-to-l"></span>
            {% crispy form %}
        </div> -->
        <div class=" form-gradient relative block p-6 overflow-hidden border-slate-100 rounded-lg md:ml-6 mb-10 ">
            <span
                class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 to-blue-500 hover:bg-gradient-to-l"></span>
            {% crispy form %}
        </div>
    </div>
</main>
<script>
    let loader = document.getElementById("preloader");

window.addEventListener("load", () => {
  setTimeout(() => {loader.style.display = "none";}, 1000);
});
</script>
{% endblock %}
