{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static tailwind_tags %}

{% block content %}
<main class="overflow-hidden flex flex-1 flex-col bg-[#18191b] text-white justify-center items-center">
<div class="container bg-[#18191b] p-20 flex flex-col">
  <h2 class="text-5xl font-bold text-center mb-20 bg-gradient-to-r from-green-700 via-teal-400 via-teal-400 via-teal-400 to-blue-500 text-transparent bg-clip-text hover:bg-gradient-to-l ">
      Quest for your Perspective
  </h2>
      {% crispy form %}
</div>
</main>
{% endblock %}
