{% extends 'base.html' %}
{% load static %}
{% load tailwind_tags %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Student Profile{% endblock title %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
      #preloader{
  background: #18191b no-repeat center center;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
}
    .invalid-feedback{
        display: none;
    }
    .shine:hover{
        transition: all 0.3s ease;
        background: linear-gradient(90deg, #2b2e33, #1e1e1e, white);
        background-size: 200% 200%;
    }
    .circle-red{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #d22b2b;
        margin: 4px;
    }
    .circle-yellow{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fbff16;
        margin: 4px;
    }
    .circle-green{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #7fff16;
        margin: 4px;
    }
</style>
{% endblock css %}


{% block content %}
<div id="preloader">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
      <dotlottie-player src="https://lottie.host/9f6fd70b-d135-43bb-b4e3-5b5d74dadbdf/K1RCDqyq6C.json" background="transparent" speed="1" style="width: 250px; height: 250px;" loop autoplay></dotlottie-player>
</div>
<main class="overflow-hidden flex flex-1 flex-col bg-[#18191b] text-white p-5">
    <div style="margin-top: 8vh;" class="max-w-lg mx-auto my-10 bg-white/10 rounded-lg shadow-md p-5">
        <img class="w-32 h-32 rounded-full mx-auto" src="{{ student.profile_picture }}" alt="Profile picture">
        <h2 class="text-center text-2xl font-semibold mt-3"><i class="fa-solid fa-user"></i>&NonBreakingSpace;&NonBreakingSpace;{{student.full_name}}</h2>
        <div class="flex justify-end mt-5 ">
            <form action="{% url 'like_student' student.pk %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" value="{{ student.id }}" class="bg-[#54575F] bg-clip-border px-3 py-2 shadow-3xl shadow-shadow-500  hover:scale-105 transition duration-500 rounded-xl">
                    <i class="fa-solid fa-heart" style="color: #ff2d75;"></i>&NonBreakingSpace;&NonBreakingSpace;{{ likes }}
                </button>
                {% else %}
                <button type="submit" value="{{ student.id }}" class="bg-[#54575F] bg-clip-border px-3 py-2 rounded-xl hover:scale-105 transition duration-500 ">
                    <i class="fa-solid fa-heart" ></i>&NonBreakingSpace;&NonBreakingSpace;{{ likes }}
                </button>
                {% endif %}
            </form>
        </div>
        <ul class="flex flex-row space-x-2 justify-center items-center mt-4">
            {% for domain in student.domains %}
            <li class="bg-pink-600 font-bold text-white text-xs px-3 py-3 rounded-3xl">{{domain}}</li>
            {% endfor %}
        </ul>
        <div class="mt-5">
          <h3 class="text-xl font-semibold"><i class="fa-regular fa-id-card"></i>&NonBreakingSpace;&NonBreakingSpace;General Info</h3>
          <div class="grid grid-cols-2 gap-4 px-2 w-full mt-5 mb-5">
            <div class="flex flex-col items-start justify-center rounded-2xl bg-[#54575F] bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
            <p class="text-sm text-white opacity-50">Roll Number</p>
            <p class="text-base font-medium text-navy-700 dark:text-white">
                {{student.rollnumber}}
            </p>
            </div>
            <div class="flex flex-col justify-center rounded-2xl bg-[#54575F] bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                <p class="text-sm text-white opacity-50">Registration Number</p>
                <p class="text-base font-medium text-navy-700 dark:text-white">
                    {{student.registration_no}}
                </p>
            </div>
            <div class="flex flex-col items-start justify-center rounded-2xl bg-[#54575F] bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
            <p class="text-sm text-white opacity-50">Gender</p>
            <p class="text-base font-medium text-navy-700 dark:text-white">
                {{student.gender}}
            </p>
            </div>
            <div class="flex flex-col items-start justify-center rounded-2xl bg-[#54575F] bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                <p class="text-sm text-white opacity-50">Qualified for Round</p>
                <p class="text-base font-medium text-navy-700 dark:text-white">
                    Round {{student.round}}
                </p>
            </div>
            <div class="flex flex-col justify-center rounded-2xl bg-[#54575F] bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                <p class="text-sm text-white opacity-50">Mobile Number</p>
                <p class="text-base font-medium text-navy-700 dark:text-white">
                    {{student.phone_number}}
                </p>
            </div>
            <div class="flex flex-col items-start justify-center rounded-2xl bg-[#54575F] bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                <p class="text-sm text-white opacity-50">Location</p>
                <p class="text-base font-medium text-navy-700 dark:text-white">
                    {{student.place}}
                </p>
            </div>
            <div class="flex flex-col items-start justify-center rounded-2xl bg-[#54575F] bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                <p class="text-sm text-white opacity-50">Department</p>
                <p class="text-base font-medium text-navy-700 dark:text-white">
                    {{student.department}}
                </p>
            </div>
         </div>
         <h3 class="text-xl font-semibold"><i class="fa-solid fa-comments"></i>&NonBreakingSpace;&NonBreakingSpace;Answers</h3>
         <div class = "w-full flex flex-col mt-5 mb-10">
            {% for answer in answers %}
            <div class="flex flex-col justify-center rounded-2xl mb-5 bg-[#54575F] bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                <p class="text-sm text-white opacity-50">{{answer.question}}</p>
                <p class="text-base font-medium text-navy-700 dark:text-white mt-2">
                    {{answer.answer}}
                </p>
            </div>
            {% endfor %}
         </div>
         <div class="flex flex-col w-full justify-center">
            {% crispy form %}
         </div>
         {% if allow > 3 %}
         <div class="flex items-center justify-center">
            <div class="flex flex-row gap-4">
                <div class="bg-white/10 flex items-center justify-center mt-10 p-2 rounded-xl shine" onclick="mark(1)">
                    <div class="circle-red"></div>
                </div>
                <div class="bg-white/10 flex items-center justify-center mt-10 p-2 rounded-xl shine" onclick="mark(2)">
                    <div class="circle-yellow"></div>
                </div>
                <div class="bg-white/10 flex items-center justify-center mt-10 p-2 rounded-xl shine" onclick="mark(3)">
                    <div class="circle-green"></div>
                </div>
            </div>
        </div>
        {% endif %}
        </div>
        
    </div>
    <h2 class="text-5xl font-bold text-center mb-10 bg-gradient-to-r from-green-700 via-teal-400 to-blue-500 text-transparent bg-clip-text hover:bg-gradient-to-l ">Comments</h2>
    {% if allow > 1 %}
    <!-- year 2 -->
    <section id="2">
    <div class="flex flex-row justify-center text-center mt-5 mb-5 bg-gradient-to-r from-green-700 via-teal-400 to-blue-500 text-transparent bg-clip-text hover:bg-gradient-to-l">
        <h3 class="text-xl font-semibold"><i class="fa-solid fa-star"></i>&NonBreakingSpace;&NonBreakingSpace;Incredibles</h3>
    </div>
    <div id="comments" class="flex flex-wrap justify-center md:flex-wrap md:space-x-6 mb-36 group">
        {% for comment in comments2 %}
        <a
        class="w-full relative block p-8 overflow-hidden bg-white/10 md:w-1/3 border-slate-100 rounded-lg md:ml-6 mb-10 "
        href=""
        >
        <span
        class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 to-blue-500 hover:bg-gradient-to-l"
        ></span>

        <div class="justify-between sm:flex">
        <div>
            <p class="mt-1 text-xl font-bold text-white opacity-50">By {{comment.by}}</p>
        </div>
        </div>
        <div class="mt-4 sm:pr-8">
        <p class="text-sm text-white">
            {{comment.comment}}
        </p>
        </div>
        <dl class="flex mt-6">
        <div class="flex flex-col-reverse">
            <dt class="text-sm font-medium text-white opacity-50">Published</dt>
            <dd class="text-[14px] font-bold">{{comment.date}}</dd>
        </div>
        <div class="flex flex-col-reverse ml-3 sm:ml-6 justify-center items-center ">
            <dt class="text-sm font-medium text-white opacity-50">Round</dt>
            <dd class="text-[14px] font-bold">{{comment.round}}</dd>
        </div>
        </dl>
        </a>
        {% endfor %}
    </div>
    </section>
    {% endif %}
    <!-- year 3 -->
    {% if allow > 2 %}
    <section id="3">
        <div class="flex flex-row justify-center text-center mt-5 mb-5 bg-gradient-to-r from-green-700 via-teal-400 to-blue-500 text-transparent bg-clip-text hover:bg-gradient-to-l">
            <h3 class="text-xl font-semibold"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>&NonBreakingSpace;&NonBreakingSpace;Incredibles</h3>
        </div>
        <div id="comments" class="flex flex-wrap justify-center md:flex-wrap md:space-x-6 mb-36 group">
            {% for comment in comments3 %}
            <a
            class="w-full relative block p-8 overflow-hidden bg-white/10 md:w-1/3 border-slate-100 rounded-lg md:ml-6 mb-10 "
            href=""
            >
            <span
            class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 to-blue-500 hover:bg-gradient-to-l"
            ></span>
    
            <div class="justify-between sm:flex">
            <div>
                <p class="mt-1 text-xl font-bold text-white opacity-50">By {{comment.by}}</p>
            </div>
            </div>
            <div class="mt-4 sm:pr-8">
            <p class="text-sm text-white">
                {{comment.comment}}
            </p>
            </div>
            <dl class="flex mt-6">
            <div class="flex flex-col-reverse">
                <dt class="text-sm font-medium text-white opacity-50">Published</dt>
                <dd class="text-[14px] font-bold">{{comment.date}}</dd>
            </div>
            <div class="flex flex-col-reverse ml-3 sm:ml-6 justify-center items-center ">
                <dt class="text-sm font-medium text-white opacity-50">Round</dt>
                <dd class="text-[14px] font-bold">{{comment.round}}</dd>
            </div>
            </dl>
            </a>
            {% endfor %}
        </div>
        </section>
    {% endif %}
    <!-- year 4 -->
    {% if allow > 3 %}
        <section id="4">
            <div class="flex flex-row justify-center text-center mt-5 mb-5 bg-gradient-to-r from-green-700 via-teal-400 to-blue-500 text-transparent bg-clip-text hover:bg-gradient-to-l">
                <h3 class="text-xl font-semibold"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>&NonBreakingSpace;&NonBreakingSpace;Incredibles</h3>
            </div>
            <div id="comments" class="flex flex-wrap justify-center md:flex-wrap md:space-x-6 mb-36 group">
                {% for comment in comments4 %}
                <a
                class="w-full relative block p-8 overflow-hidden bg-white/10 md:w-1/3 border-slate-100 rounded-lg md:ml-6 mb-10 "
                href=""
                >
                <span
                class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 to-blue-500 hover:bg-gradient-to-l"
                ></span>
        
                <div class="justify-between sm:flex">
                <div>
                    <p class="mt-1 text-xl font-bold text-white opacity-50">By {{comment.by}}</p>
                </div>
                </div>
                <div class="mt-4 sm:pr-8">
                <p class="text-sm text-white">
                    {{comment.comment}}
                </p>
                </div>
                <dl class="flex mt-6">
                <div class="flex flex-col-reverse">
                    <dt class="text-sm font-medium text-white opacity-50">Published</dt>
                    <dd class="text-[14px] font-bold">{{comment.date}}</dd>
                </div>
                <div class="flex flex-col-reverse ml-3 sm:ml-6 justify-center items-center ">
                    <dt class="text-sm font-medium text-white opacity-50">Round</dt>
                    <dd class="text-[14px] font-bold">{{comment.round}}</dd>
                </div>
                </dl>
                </a>
                {% endfor %}
            </div>
            </section>
    {% endif %}
</main>
{% endblock content %}

{% block script %}
<script>
    function mark(type){
        var id = "{{student.id}}";
        const endpoint = '/mark/'+id+'/'+type;
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(
            endpoint,{
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken, // Include the CSRF token in the headers
            },
            body: JSON.stringify({ st_id: id, color: type }),
            }
        ).then(response => {
        })
        .then(data => {
        })
        .catch(error => {
        });
    }
    let loader = document.getElementById("preloader");

window.addEventListener("load", () => {
  setTimeout(() => {loader.style.display = "none";}, 1000);
});
</script>
{% endblock script %}