.list{
    display: flex;
    flex-direction: column;
    justify-self: end;
}
header::before{
    clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%);
}
.spin{
    animation: spin 60s linear infinite;
}
button::before{
    box-shadow: #1f242d 0px 0px 20px 2px;
}
header .img.bg{
    filter: saturate(800%) hue-rotate(165deg);
}
/* body{
    pointer-events: none;
}
html{
    pointer-events: none;
} */
.desc{
    border-left: 4px solid seagreen;
}
.shadow{
    border-radius: 50%;
    box-shadow: 100px 0px 300px 100px blue , -100px 0px 300px 100px green, 0px 100px 300px 100px seagreen,0px -100px 300px 100px seagreen;
}
.heading{
    border-bottom: 4px solid rgb(0, 128, 111);
}
header .content{
    text-shadow: 0 0 5px black;
}
.card h3, .card p, .card .animation{
    transition: 1s;
    transition-timing-function: cubic-bezier(.25,1.5,.25,1);
}
.card:hover h3, .card:hover p{
    translate: 0 -200px ;
}
.card:hover .animation{
    opacity: .25;
    scale: .8;
}
.slide{
    perspective: 100px;
}
.slide img:hover{
    transform: translateZ(15px);
}
.slide-track{
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-300px *9 ));
    }
} 

/* .card {
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 30px 5px orange;
  } */

  h1{
    position: relative;
}
p{
    position: relative;
}

.parent {
    text-align: center;
  }
  
  /* .card {
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 30px 5px orange;
  } */

.section .animate{
    opacity: 0;
    filter: blur(5px);
    transition: 2s ease;
}

.section.show-animate .animate{
    opacity: 1;
    filter: blur(0);
}

.sec-1 .animate {
    transform: translateX(-100%);
}

.sec-1.show-animate .animate {
    transform: translateX(0);
}

.sec-2 .animate {
    transform: translateX(100%);
}

.sec-2.show-animate .animate {
    transform: translateX(0);
}

.sec-3 .animate {
    transform: scale(.7);
}

.sec-3.show-animate .animate {
    transform: scale(1);
}

.sec-4 .showRight-animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1f242d;
    transition: 1s;
    transition-delay: calc(.2s * var(--i));
}

.sec-4.show-animate .showRight-animate{
    width: 0;
}

.asteriskField{
    color: red;
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }

.toast{
    background-color: #18191b;
}